.Container {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.NoSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.Bar1,
.Bar2,
.Bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    outline: none;
}

@media (min-width: 500px) {
    .Container {
        display: none;
    }
}