.Container {
    display: block;
    cursor: pointer;
}

.Bar1,
.Bar2,
.Bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

@media (min-width: 500px) {
    .Container {
        display: none;
    }
}